body {
    margin: 0;
    font-family: 'Chela One',cursive;
    background: $background-color;
}

button {
    background: #4A227A;
    border: none;
    color:white;
    border-bottom: 4px solid darken(#4A227A, 10%);
}

button:disabled {
    opacity: 0.7;
}
ul,li {
    margin: 0;
    padding: 0;
}